:root {
	--color-primary: #B4AFE9;
	--color-dark-primary: #3A3B6B;
	--color-secondary: #73877B;
    --color-light-secondary: #FFFFFF;
	--color-dark-secondary: #32445F;
}

@font-face {
	font-family: Poppins;
	src: url(./assets/fonts/Poppins-Regular.ttf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: Poppins;
}


	

/* Header */

header {
	background-color: var(--color-dark-primary);
	color: var(--color-light-secondary);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 10px 30px 10px 30px;
	width: 100%;
	position:relative;
	position:fixed;
	top: 0;
}

header > div {
	flex-basis: auto;

}
h1  {
	font-size: 32px;
	font-weight: bold;
	padding: 0px 30px 0px 30px;
    }

#logo {
	width: 5vw;
	height: 50%;

}
#account_circle {
    font-size: 50px;
	align-items: flex-end;

}

#account_circle:hover {
    font-size: 60px;
	align-items: flex-end;
	color: var(--color-primary);
	cursor: pointer;
}

a {
	text-decoration: none;
}
a .material-icons {
    color: var(--color-light-secondary);
    transition: color 0.3s; /* Ajout d'une transition pour un effet visuel lors du hover */
}

/* Footer */

#footer {
    background-color: var(--color-dark-primary);
    color: var(--color-light-secondary);
    display: flex;
    flex-direction: row;
    justify-content: right;
	position: absolute;
	bottom: 0;
	width: 100%;
    padding: 10px 0px 0px 30px;
	position: fixed;

}
#name {
	font-size: 16px;
    font-weight: bold;
	padding: 10px 30px 10px 30px;
}

/* Main Content */
/* Accueil */

main {
	margin:50px;
	padding : 0px 30px 30px 30px;
	text-align: center;
}
h2 {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	padding: 30px 0px 30px 0px;
	margin-top: 120px;
}
.text {
	font-size: 18px;
	font-weight: bold;
}
#boxes_presentation {
	display: flex;
    flex-direction: row;
    align-items: center;
	padding: 30px;


}
.box_presentation {
	background-color: var(--color-dark-secondary);
	padding: 30px;
	margin: 30px;
	border-radius: 20px;
	flex-grow: 1;
	flex-wrap: wrap;
	flex-basis: 50%;
	color : var(--color-light-secondary);
	height: 600px;

}
.box_presentation:hover {
	cursor: pointer;
	background-color: var(--color-primary);
	color: var(--color-dark-secondary);
}
.image_container_welcome_page {
	width: 80%;
	height: 80%;
	padding: 30px 10px 20px 10px;
	margin:auto;
	position: relative;
}

.image_welcome_page {
	width: 100%;
    height: 100%;
	object-fit: cover;
}


/* Responsive pour les tablettes et moyens écrans */
@media screen and (min-width: 481px) and (max-width: 992px){
header{
	padding: 10px 20px;
	display: flex;
}

h1 {
	font-size: 20px;
	padding: 0px 20px 0 20px;
}

#logo {
	width: 5vw;
}

#account_circle {
	font-size: 40px;
}

#account_circle:hover {
	font-size: 48px;
}

#footer {
	padding: 10px 10px;
}

#name {
	font-size: 10px;
}

main {
	margin: 10px;
	padding: 0px 20px 20px 20px;
}

h2 {
	font-size: 22px;
	margin-top: 100px;
}

.text {
	font-size: 16px;
	margin-top: 20px;
	

}

#boxes_presentation {
	flex-direction: column; /* Modification en colonne pour l'affichage tablette */
	padding: 20px;
}

.box_presentation {
	margin: 20px 0;
	min-height: 150px;
	width: 800px;
	vertical-align: middle;

}
.image_container_welcome_page {
	display: none;

}
.image_welcome_page {
	display: none;	
}
}

/* Responsive pour les mobiles  */
@media (max-width: 461px) {
header {
	padding: 10px 15px;
}

h1 {
	font-size: 24px;
	padding: 10px 0 5px 0;
}

#logo {
	width: 12vw;
}

#account_circle {
	font-size: 35px;
}

#account_circle:hover {
	font-size: 40px;
}

#footer {
	flex-direction: column;
	padding: 10px 15px;
	text-align: center;
}

#name {
	font-size: 12px;
}

main {
	margin: 10px;
	padding: 0px 10px 10px 10px;
	}

h2 {
	font-size: 20px;
	margin-top: 80px;
	}
	
.text {
	font-size: 14px;
	margin-top: 10px;
	}

#boxes_presentation {
	flex-direction: column;
	padding: 10px;
	}
.box_presentation {
	margin: 20px 0;
	min-height: 150px;
	width: 300px;
	vertical-align: middle;
	}

.image_container_welcome_page {
	display: none; 
	}

.image_welcome_page {
	display: none; 
	}
}


