header {
	background-color: var(--color-dark-primary);
	color: var(--color-light-secondary);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 10px 30px 10px 30px;
	width: 100%;
	position:relative;
	position:fixed;
	top: 0;
}

header > div {
	flex-basis: auto;

}
h1  {
	font-size: 32px;
	font-weight: bold;
	padding: 0px 30px 0px 30px;
    }

.logo-image {
	width: 5vw;
	height: 50%;

}
#account_circle {
    font-size: 50px;
	align-items: flex-end;

}

#account_circle:hover {
    font-size: 60px;
	align-items: flex-end;
	color: var(--color-primary);
	cursor: pointer;
}

a {
	text-decoration: none;
}
a .material-icons {
    color: var(--color-light-secondary);
    transition: color 0.3s; /* Ajout d'une transition pour un effet visuel lors du hover */
}
