:root {
	--color-primary: #B4AFE9;
	--color-dark-primary: #3A3B6B;
	--color-secondary: #73877B;
    --color-light-secondary: #FFFFFF;
	--color-dark-secondary: #32445F;
}

@font-face {
	font-family: Poppins;
	src: url(./assets/fonts/Poppins-Regular.ttf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: Poppins;
}


#footer {
    background-color: var(--color-dark-primary);
    color: var(--color-light-secondary);
    display: flex;
    flex-direction: row;
    justify-content: right;
	position: absolute;
	bottom: 0;
	width: 100%;
    padding: 10px 0px 0px 30px;
	position: fixed;

}
#name {
	font-size: 16px;
    font-weight: bold;
	padding: 10px 30px 10px 30px;
	

/* Header */

header {
	background-color: var(--color-dark-primary);
	color: var(--color-light-secondary);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 10px 30px 10px 30px;
	width: 100%;
	position:relative;
	position:fixed;
	top: 0;
}

header > div {
	flex-basis: auto;

}
h1  {
	font-size: 32px;
	font-weight: bold;
	padding: 0px 30px 0px 30px;
    }

#logo {
	width: 5vw;
	height: 50%;

}
#account_circle {
    font-size: 50px;
	align-items: flex-end;

}

#account_circle:hover {
    font-size: 60px;
	align-items: flex-end;
	color: var(--color-primary);
	cursor: pointer;
}

a {
	text-decoration: none;
}
a .material-icons {
    color: var(--color-light-secondary);
    transition: color 0.3s; /* Ajout d'une transition pour un effet visuel lors du hover */
}

/* Footer */

}

/* Main Content */
/* Accueil */

